<p>property-binding works!</p>
<!-- In ngular if you want use id or html atibutes then youse property binding  -->
<!-- like when you want to give id some elements or change valu of atributes like in this case -->
<input type="text" name="name">
<!-- In vanilla js we will do it this way -->
<input id="name" type="text" name="name">
<!-- But in angular we should use property binding  -->
<!-- It is reprezaentating from [] eazy to remember [] means input (some data nedd tp come to this property in component) -->
<!-- Example -->
<input [id]="idName" type="text" name="name">
<input [disabled]="disable" type="text" name="name">
